body {
    font: 16px 'Montserrat', 'Roboto', sans-serif;
    color: #474A51
}

.head{
    display: flex;
    max-width: 100%;
    justify-content: flex-end;;
}
.head-wrapper{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.head_ttl{
    margin: 15px 30px;
}
.greeting{
    z-index: 5;
    background: #F5FFFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    margin-left:20%
}
.page-sidebar{
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.sidebar-background{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('C:/Users/Настя/resume/www/media/sidebar.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
}
.logo_img{
    max-width: 100%;
    width: 150px;
    z-index: 2;
}
.sidebar-overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
}
