body {
    font: 16px 'Anonymous Pro', 'Roboto', sans-serif;
    color: #474A51;
    background: #FCFCEE;
}
a {
    text-decoration: none;
}

.head{
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.topmenu-wrapper{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 2% 0 2% 0;
}
.side_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.head_ttl{
    z-index: 5;
    margin: 10px 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
.greeting{
    z-index: 5;
    max-width: 100%;
    height: auto;
    margin-left:20%
}
.page-sidebar{
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: space-between;
}
.sidebar-background{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('C:/Users/Настя/resume/www/media/sidebar.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.logo_img{
    max-width: 100%;
    width: 150px;
    z-index: 2;
}
.social-media{
    z-index: 2;
    margin: 7% 7% 7%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.social-media a {
    color: white;
}
.sidebar-overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.35);
}
.fa-instagram:before {
    color: white;
}
.description{
    margin: 2% 0 2% 0;
}
.description-title{
    text-align: center;
}
.description-txt{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.description-intro{
    font-style: italic;
}
.description-exp{
    text-align: start;
}
.examples{
    margin: 2% 0 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exmp-point{
    margin: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.point-img{
    border: solid 1px #414545;
}
.point-img img{
    max-width: 100%;
}
.img-gray{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.img-gray:hover{
    filter:none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}
.point-descr{
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.examples-title{
    display: inline;
    border-bottom: 1px solid #f9dd94;
    margin-bottom: 20px;
}